<hr>
<div class="container text-center" style="margin-top: 40px;">
    <div class="col-md-12">
        <div class="com-md-offset-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    FUNLAM PARKING V1.0.0
                </div>
                <div class="panel-body">
                    <h2>Funlam Parking</h2>
                    <h3>Desarrollado por: </h3>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    Sebastian Higuita Castañeda
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    Camilo Marin Arenas
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    Diego Vanegas Correa
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<style>
    .footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>
<footer class="text-center footer">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>2016 ©</h1>
            </div>
        </div>
    </div>
</footer>