<div class="container text-center">

    <div class="col-md-12">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>{{ year }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3>Disponible</h3>
                    </div>
                    <div class="panel-body">
                        <h2>100</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3>Ocupado</h3>
                    </div>
                    <div class="panel-body">
                        <h2>100</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>{{ date | date: 'h:mm:ss' }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>