<div class="container text-center">

    <div class="col-md-12">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>{{ year }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3>Disponible</h3>
                    </div>
                    <div class="panel-body">
                        <h2>100</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3>Ocupado</h3>
                    </div>
                    <div class="panel-body">
                        <h2>100</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>{{ date | date: 'h:mm:ss' }}</h2>
                </div>
            </div>
        </div>
    </div>

    <!--<h2 (UpdateTime)="UpdateMyTime()">{{ date | date: 'h:mm:ss' }}</h2>
    <h1>{{ year }}</h1>
     <hr>
    <hr>
    <h3>Bienvenido al sistema de parqueadero</h3>
    <h1>FUNLAM</h1>
    <hr>
    <div class="col-md-12">
        <div class="col-md-6">
            <a href="#" class="btn btn-success btn-large">Reserva tu parqueadero</a>
        </div>
        <div class="col-md-6">
            <a href="#" class="btn btn-success btn-large">Paga tu reservas</a>
        </div>
    </div> -->
</div>